body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 325px;
  border-radius: 5%;
  margin: 15%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
}

.text {
  padding: 15px;
  text-align: center;
}

p:first-of-type {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p:last-of-type {
  color: hsl(220, 15%, 55%);
}

img {
  border-radius: 5%;
}

.footer {
  font-size: 11px;
  text-align: center;
  margin: 5px;
}

.footer a {
  color: hsl(228, 45%, 44%);
}
