body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  border-radius: 5%;
  box-shadow: 0 3px 30px 10px hsla(0, 0%, 0%, 0.05);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.text {
  padding: 12px;
  text-align: center;
}

p:first-of-type {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-top: 10px;
}

p:last-of-type {
  color: hsl(220, 15%, 55%);
}

img {
  border-radius: 5%;
}
